name: Main Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        go-version: [1.16.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}

    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Check commit message
        uses: wagoid/commitlint-github-action@v3

      - name: Run tests
        run: make test

      - name: Build app
        run: make build

  # deploy:
  #   needs: build
  #   runs-on: ${{ matrix.platform }}
  #   steps:
  #     - uses: actions/checkout@v2

  #     - name: Heroku deploy
  #       uses: akhileshns/heroku-deploy@v3.12.12
  #       with:
  #         heroku_email: 'gabrielluislopes00@gmail.com'
  #         heroku_api_key: ${{secrets.HEROKU_API_KEY}}
  #         heroku_app_name: ${{secrets.APP_NAME}}
  #         branch: 'main'
